<div class="container-fluid main-wrapper">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
           
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="#">Welcome to Green Koncepts</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link">{{this.loginInfo.username}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link logout-link" (click)="userLogout()">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="custom-row">
        <div class="custom-col" *ngFor="let item of mainComponentList|slice:0:3">
            <div class="card text-center" routerLink="/{{item.routerName}}">
                <div class="card-body">
                    <div class="btn btn-primary">{{item.name}}</div>
                </div>
              </div>
        </div>
    </div>
    <div class="custom-row">
        <div class="custom-col" *ngFor="let item of mainComponentList|slice:3:6">
            <div class="card text-center" routerLink="/{{item.routerName}}">
                <div class="card-body">
                  <div class="btn btn-primary">{{item.name}}</div>
                </div>
              </div>
        </div>
    </div>
</div>

<div class="modal fade" id="invalidSessionKey" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Data Fetching Failed</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            Invalid session Key
        </div>
        <div class="modal-footer">
          <button type="button" [routerLink]="['/login']" class="btn btn-secondary" data-dismiss="modal">Re-login</button>
        </div>
      </div>
    </div>
  </div>

  <div class="loader" *ngIf="showLoader" ></div>